.tiktokSlide {
  aspect-ratio: 9 / 16;
  flex-shrink: 0;
  position: relative;
  width: 260px;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  iframe {
    align-self: center;
    aspect-ratio: 9 / 16;
    // border-radius: 8px;
    border: none;
    position: absolute;
    inset: 0;
    width: 100%;
  }
  [aria-label="Play"] {
    opacity: 0.2;
  }
}

.actions {
  aspect-ratio: 9 / 16;
  position: absolute;
  inset: auto;
  width: 100%;
  z-index: 2;
}

.actionsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 10px #000);
  position: absolute;
  inset: 0;
  &[data-type="play"] {
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: auto;
    }
    &::before {
      aspect-ratio: 1;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 40px;
    }
    &::after {
      aspect-ratio: 1 / 1.2;
      background-color: #fff;
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
      translate: 2px 0;
      width: 16px;
    }
    .tiktokSlide:not([data-playing="false"]) & {
      display: none;
    }
  }
  &[data-type="pause"] {
    .tiktokSlide:not([data-playing="true"]) & {
      display: none;
    }
  }
}